__pycache__/*.pyc
__pycache__/multipass.cpython-310.pyc
cloudflare routing automation
port_status
__pycache__/multipass.cpython-310.pyc
port_status.pkl
key.txt
test.py
__pycache__/multipass.cpython-310.pyc
